@page "/"
@namespace MeteoMesh.Lite.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using MeteoMesh.Lite
@using MeteoMesh.Lite.Shared

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeteoMesh Lite</title>
    <link href="/_content/" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(MeteoMesh.Lite.App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>